# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv('orders.csv')
orders = orders.drop(['Unnamed: 0'],axis=1)
orders.head()

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
Custbyamount =orders.groupby(['CustomerID', 'Country']).agg({'amount_spent':sum})
Custbyamount['amount_spent']

CustomerID  Country
12346       United Kingdom    77183.60
12347       Iceland            4310.00
12348       Finland            1797.24
12349       Italy              1757.55
12350       Norway              334.40
                                ...
18280       United Kingdom      180.60
18281       United Kingdom       80.82
18282       United Kingdom      178.05
18283       United Kingdom     2094.88
18287       United Kingdom     1837.28
Name: amount_spent, Length: 4347, dtype: float64

In [4]:
quantile = Custbyamount['amount_spent'].quantile([0.95,0.75])
quantile

0.95    5774.278
0.75    1661.195
Name: amount_spent, dtype: float64

In [5]:
labels=['Long Tail','Preferred','VIP']
Custbyamount['customer_type'] = pd.cut(Custbyamount['amount_spent'], bins=[-np.inf, quantile[0.75], quantile[0.95], np.inf], labels=labels)
Custbyamount['customer_type'].value_counts()

Long Tail    3260
Preferred     869
VIP           218
Name: customer_type, dtype: int64

In [13]:
Custbyamount['vip_count'] = Custbyamount['customer_type']=='VIP'
Custbyamount['pref_count'] =Custbyamount['customer_type']=='Preferred'
Custbyamount.head()
vip_customer = Custbyamount['vip_count'].sum()
preferred_customer = Custbyamount['pref_count'].sum()
print ("There are", vip_customer, "Vip costumers")
print ("There are", preferred_customer, "Preferred costumers")

There are 218 Vip costumers
There are 869 Preferred costumers

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [16]:
# your code here
vipvip =Custbyamount.groupby(['Country'])['vip_count'].sum().sort_values(ascending=False)
vipvip

Country
United Kingdom          178
Germany                  11
France                    9
Switzerland               3
Spain                     2
Japan                     2
Portugal                  2
EIRE                      2
Netherlands               1
Singapore                 1
Finland                   1
Australia                 1
Denmark                   1
Sweden                    1
Cyprus                    1
Channel Islands           1
Norway                    1
Saudi Arabia              0
RSA                       0
USA                       0
United Arab Emirates      0
Poland                    0
Italy                     0
Malta                     0
Lithuania                 0
Lebanon                   0
Austria                   0
Israel                    0
Iceland                   0
Greece                    0
European Community        0
Czech Republic            0
Canada                    0
Brazil                    0
Belgium                   0
Bahrain                   0
Unspecified               0
Name: vip_count, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [21]:
# your code here
prefpref =Custbyamount.groupby(['Country'])['pref_count'].sum().sort_values(ascending=False)
vip_pref = vipvip + prefpref
vip_pref =vip_pref.sort_values(ascending=False)
vip_pref

Country
United Kingdom          934
Germany                  39
France                   29
Belgium                  11
Switzerland               9
Spain                     7
Portugal                  7
Norway                    7
Italy                     5
Finland                   5
Japan                     4
Australia                 4
Channel Islands           4
Cyprus                    3
Denmark                   3
EIRE                      3
Israel                    2
Sweden                    2
Malta                     1
Singapore                 1
Poland                    1
Netherlands               1
Canada                    1
Lebanon                   1
Austria                   1
Iceland                   1
Greece                    1
Bahrain                   0
USA                       0
Brazil                    0
United Arab Emirates      0
European Community        0
Saudi Arabia              0
RSA                       0
Lithuania                 0
Czech Republic            0
Unspecified               0
dtype: int64